 .idea/
Vestibular/__pycache__/
db.sqlite3
editais/
instituicao/__pycache__/
instituicao/migrations/__pycache__/
processo_seletivo/__pycache__/
processo_seletivo/migrations/__pycache__/
processo_seletivo/templatetags/__pycache__/
/.idea/
Vestibular/settings.py/
/Vestibular/settings.py
Vestibular/settings.py
/db.sqlite3
/editais/Escaner_preto03_0001.jpg


