{% load static %}
{% load gravatar %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vestibular Uverse</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/animation.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <script>
        setInterval(function () {
            window.location = ".";
        }, 300000)
    </script>
    <style>
        body {
            background: linear-gradient(90deg, #9cd116, #0AF6AE) !important;
            width: 100%;
            height: 100vh !important;
            display: flex;
            flex-direction: row;
            align-content: center;
            align-items: center;
        }

        body {

        }
    </style>


</head>
<body>

<div class="container" style="text-align: center; margin-top: 50px;">


    <div class="row">
        <div class="col-8">
            <di class="row" style="text-align: center">
                <div class="col-12"><img src="{% static 'img/logo-uverse.svg' %}" width="100" height="30"></div>
                <div class="col-12" style="color: rgb(2, 107, 29) !important;">
                    <h4>Inscritos no vestibular</h4>
                </div>

            </di>
            <div class="row">
                <div class="col">
                    <h1 class="titulo" style="font-size: 300px;">{{total_inscricao}}</h1>
                </div>
            </div>

        </div>

        <!--        coluna de cursos-->

        <div class="col-4">
            <ul class="list-group lista-cursos" style="font-size: 12px; padding: 0; max-height: 100%;">
                {% for i in cursos %}
                {% if i.qtd_inscricoes > 0 %}
                <li class="list-group-item d-flex justify-content-between align-items-center flex-column"
                    style="font-size: 12px; padding: 5px">
                    <div>
                        {{i.nome}} - {{i.qtd_vagas}} <span
                            class="badge badge-secondary">{{ i.qtd_inscricoes }}</span>
                    </div>
                    <div class="progress" style="width: 100%">
                        <div class="progress-bar" role="progresbar" style="width: 25%; background: linear-gradient(90deg, #9cd116, #0AF6AE)" aria-valuenow="25"
                             aria-valuemin="0" aria-valuemax="100">25%
                        </div>
                    </div>

                </li>
                {% endif %}
                {% endfor %}

            </ul>
        </div>


    </div>

</div>


</body>
</html>