{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vestibular Uverse</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/animation.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">

    <script type="text/javascript" src="{% static 'js/1.5.2.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.maskedinput-1.3.min.js'%}"></script>
	<script>
		jQuery(function($){
		       $("#fone").mask("(99) 99999-9999");
		});
	</script>






</head>
<body>
<div class="sep-uverse"></div>

<section>
    <div class="container" style="position: absolute; bottom: 0;">
        <div class="row">

          <div class="col-sm space-extra"></div>
          <div class="col-sm space-extra"></div>

          <div class="col-sm poster flip-top">
            <h1 class="titulo">Vestibular U:verse</h1>

            {% if parceiro %}
                <div class="afiliado" style="background: #026d1d; color:#fff;padding: 5px;  font-size: 10px; text-align: center; border-radius: 5px;">
                    Você esta sendo indicado por: {{ parceiro.pessoa.nome }}
                </div>
            {% endif %}


            {% if form.errors %}
                {% for e in form.non_field_errors %}
                    <div class="alert alert-danger">{{ e }}</div>
                {% endfor %}
            {% endif %}

            <p style="text-align: left;">Preencha os dados abaixo e dê o <strong>primeiro passo para o seu futuro!</strong></p>
            <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                {% with tipo="text" label="Nome Completo" nome="nome" field=form.nome extra="required" %}{% include 'field.html' %}{% endwith %}
                {% with tipo="email" label="E-mail" nome="email" field=form.email extra="required" %}{% include 'field.html' %}{% endwith %}
                {% with tipo="text" label="Celular" nome="fone" field=form.fone extra="required" %}{% include 'field.html' %}{% endwith %}

                <button type="submit" class="btn btn-primary btn-lg btn-uverse flash-bang">Cadastrar</button>

                <hr>
                <p><strong><a href="{% url 'index' %}">Já tem cadastro? Faça seu login!</a></strong></p>
              </form>
              
                <h4 class="hastag">#souUverse</h4>
              
            
          </div>


          
        </div>
    </div>
</section>

</body>
</html>