{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vestibular Uverse</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/animation.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <script type="text/javascript" src="{% static 'js/1.5.2.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.maskedinput-1.3.min.js'%}"></script>
	<script>
		jQuery(function($){
		       $("#cpf").mask("999.999.999-99");
		       $("#dt_nasc").mask("99/99/9999");
		});
	</script>



</head>
<body>
<div class="sep-uverse"></div>

<section>
    <div class="container" style="position: absolute; bottom: 0;">
        <div class="row">

            <div class="col-sm space-extra"></div>
{#            <div class="col-sm space-extra"></div>#}

            <div class="col-sm poster flip-top">
                <h1 class="titulo">Vestibular U:verse</h1>

                {% if form.errors %}
                    {% for e in form.non_field_errors %}
                        <div class="alert alert-danger">{{ e }}</div>
                    {% endfor %}
                {% endif %}

                <p style="text-align: left;">Estamos quase lá! Complete os dados para continuar</p>
                <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <h6 style="font-family: carnas-bold; color:rgb(2, 107, 29) !important">{{ pessoa.nome }}</h6>
                    {% for f in form %}
                        {% with tipo=f.field.widget.input_type label=f.label nome=f.name field=f extra="" %}
                            {% include 'field.html' %}{% endwith %}
                    {% endfor %}

                    <button type="submit" class="btn btn-primary btn-lg btn-uverse flash-bang">Salvar</button>

                </form>

                <h4 class="hastag">#souUverse</h4>


            </div>


        </div>
    </div>
</section>


</body>
</html>