{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vestibular Uverse</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/animation.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
<div class="sep-uverse"></div>

<section>
    <div class="container" style="position: absolute; bottom: 0;">
        <div class="row">

            <div class="col-sm space-extra"></div>
            <div class="col-sm space-extra"></div>

            <div class="col-sm poster flip-top">
                <h1 class="titulo">Vestibular U:verse</h1>
                {% if messages %}
                    {% for message in messages %}
                    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                    {% endfor %}
                {% endif %}
                <p>&nbsp;</p>
                {% if next %}
                    <script>
                        setTimeout(function(){window.location='{{ next }}';}, {{ time_to_redirect }});
                    </script>
                    <a type="submit" class="btn btn-primary btn-lg btn-uverse flash-bang" href="{{ next }}">Continuar</a>
                    <hr>

                {% else %}
                    <a type="submit" class="btn btn-primary btn-lg btn-uverse flash-bang" href="{% url 'index' %}">Fazer
                        login</a>
                    <hr>
                    <p><strong><a href="{% url 'cadastro' %}">Não tem conta? Clique aqui e faça seu
                        cadastro!</a></strong>
                    </p>
                {% endif %}
                <h4 class="hastag">#souUverse</h4>


            </div>


        </div>
    </div>
</section>


</body>
</html>