{% extends 'redacao/base.html' %}

{% load humanize %}
{% load static %}


{% block content %}

    {% include "redacao/menu.html" %}


    <div class="conteudo">


        <div class="row" style="margin-top: 50px;">
            <div class="col-12 redacao enter-left-bounce">

                <div class="row">
                    <div class="col-12">
                        <h1 class="titulo" style="color: #666666">Minhas indicações</h1>
                    </div>

                    {% if afiliado %}
                    <div class="col-3">
                        <div class="card" style="width: 18rem; margin-bottom: 20px;">
                            <div class="card-body">
                                <h5 class="card-title">Saldo</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Meus ganhos por indicação</h6>
                                <p class="card-text">
                                <h3>R$ {{ ganhos | intword }}</h3>
                                </p>
                            </div>
                        </div>
                    </div>



                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">NOME</th>
                            <th scope="col">DATA</th>
                            <th scope="col">STATUS</th>
                        </tr>
                        </thead>
                        <tbody id="tabela">
                        {% for i in afiliado %}
                            <tr style="{% if i.situacao == 31 %} background:#67f187; color: #FFF{% endif %}">
                                <th scope="row">
                                    {{ i.pessoa.nome | upper | truncatewords:1 }}
                                </th>
                                <th>
                                    {{ i.data_inclusao }}
                                </th>
                                <th>
                                    {% if i.situacao == 31 %}
                                        <span class="badge badge-light"> Ganho obtido </span>
                                    {% else %}
                                        <span class="badge badge-warning"> Aguardando Matricula </span>
                                    {% endif %}
                                </th>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <h5>Você não tem indicados</h5>
                    {% endif %}

                </div>

            </div>

        </div>

        <script>
            $(document).ready(function () {
                $("#busca").on("keyup", function () {
                    var value = $(this).val().toLowerCase();
                    $("#tabela tr").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>




{% endblock %}