{% extends 'redacao/base.html' %}

{% load static %}


{% block content %}

{% include "redacao/menu.html" %}


<div class="conteudo">

    {% if redacao %}

    <div class="correcao d-flex justify-content-between align-items-center">
        <h4>Correção: Redação <strong>#{{redacao.id}}</strong></h4>
        <button type="button"
                class="btn btn-primary btn-uverse-verde-bg d-flex justify-content-between align-items-center"
                data-toggle="modal" data-target="#exampleModal">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-card-checklist" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                <path fill-rule="evenodd"
                      d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
            </svg>
            &nbsp;LANÇAR NOTAS

        </button>
    </div>

    {% endif %}

    <div class="row" style="margin-top: 50px;">
        <div class="col-12 redacao letter enter-left-bounce">
            {% if redacao %}
            <span class="badge badge-secondary">Redação: </span>
            <hr>
            {{redacao.redacao|linebreaks}}
            <hr>


            {% else %}

            <h1>Não existem redações para correção</h1>

            {% endif %}
        </div>

        <!--        <div class="col-2 correcao">-->
        <!--            Lançamento de notas-->
        <!--            <form method="POST" id="formulario">{% csrf_token %}-->
        <!--                {{ form.as_p }}-->

        <!--                <button type="submit" class="btn btn-uverse">Salvar notas</button>-->
        <!--            </form>-->
        <!--        </div>-->

    </div>


    {% if messages %}
    <ul class="messages alert alert-succes" role="alert">
        {% for message in messages %}
        <li
                {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}


    <!-- Button trigger modal -->


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form method="POST" id="formulario">{% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Correção de redação #{{redacao.id}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">


                        <!--                        {{ form.as_p }}-->
                        <div class="form-group">
                            <div class="row">
                                <div class="col-6">
                                    <label for="nota_redacao_p1">Nota peso 1</label>
                                    {{ form.nota_redacao_p1 }}
                                </div>
                                <div class="col-6">
                                    <label for="nota_redacao_p2">Nota peso 2</label>
                                    {{ form.nota_redacao_p2 }}
                                </div>
                                <div class="col-6">
                                    <label for="nota_redacao_p3">Nota peso 3</label>
                                    {{ form.nota_redacao_p3 }}
                                </div>
                                <div class="col-6">
                                    <label for="nota_redacao_p4">Nota peso 4</label>
                                    {{ form.nota_redacao_p4 }}
                                </div>
                                <div class="col-6">
                                    <label for="nota_redacao_p5">Nota peso 5</label>
                                    {{ form.nota_redacao_p5 }}
                                </div>

                                <div class="col-6" style="padding: 30px 18px">
                                    <h2 id="nota-total"></h2>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Salvar notas</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>


<script>
    $("input").focusout(function () {
        var n1 = parseInt($('#id_nota_redacao_p1').val());
        var n2 = parseInt($('#id_nota_redacao_p2').val());
        var n3 = parseInt($('#id_nota_redacao_p3').val());
        var n4 = parseInt($('#id_nota_redacao_p4').val());
        var n5 = parseInt($('#id_nota_redacao_p5').val());
        var total = parseInt(n1 + n2 + n3 + n4 + n5);


        if (n1 > 40 || n1 == "") {
            alert("Atenção a nota precisa estar entre 0 e 40");
            $('#id_nota_redacao_p1').val('');
            $('#id_nota_redacao_p1').focus();

        }
        if (n2 > 40) {
            alert("Atenção a nota precisa estar entre 0 e 40");
            $('#id_nota_redacao_p2').val('');
            $('#id_nota_redacao_p2').focus();

        }
        if (n3 > 40) {
            alert("Atenção a nota precisa estar entre 0 e 40");
            $('#id_nota_redacao_p3').val('');
            $('#id_nota_redacao_p3').focus();

        }
        if (n4 > 40) {
            alert("Atenção a nota precisa estar entre 0 e 40");
            $('#id_nota_redacao_p4').val('');
            $('#id_nota_redacao_p4').focus();

        }
        if (n5 > 40) {
            alert("Atenção a nota precisa estar entre 0 e 40");
            $('#id_nota_redacao_p5').val('');
            $('#id_nota_redacao_p5').focus();

        }

        if (isNaN(n1) || isNaN(n2) || isNaN(n3) || isNaN(n4) || isNaN(n5) ) {

        }else{
            if (total > 100) {
                $('.modal-content').addClass('aprovado');
                $('.modal-content').removeClass('reprovado');
                $('#nota-total').html("<span class=\'badge badge-success\'>" + total + " - APROVADO");
            } else {
                $('.modal-content').addClass('reprovado');
                $('#nota-total').html("<span class=\'badge badge-danger\'>" + total + " - REPROVADO");
            }
        }

    });
</script>

{% endblock %}