{% load static %}

<div class="sep-uverse" style="position: fixed; top: 0;"></div>

<div id="menu-vertical">

    <div class="logo-instituicao">
        <hr>
        <img src="{% static 'img/logo-uverse.svg' %}" width="100" height="30" class="d-inline-block align-top" alt=""
             loading="lazy">
        Desenvolvido por: TI - U:verse
    </div>

    <h3 class="titulo-painel">Olá, {{ request.user.first_name }}!</h3>


    <hr>

    {% if corrigidas > 0 %}
        <div style="text-align: center; color: #0a6549">
            <h1 style="font-weight: 800">{{ corrigidas }} / <span style="opacity: 0.7">{{ nao_corrigidas }}</span></h1>
            <h6>Minhas correções</h6>
        </div>
        <hr>
    {% endif %}

    <ul class="list-group lista-menu-uverse">
        <a href="{% url 'acompanhamento' %}">
            <li class="list-group-item d-flex justify-content-start align-items-center">
                &nbsp;Vestibular Uverse
            </li>
        </a>
        {% if request.user.is_superuser %}
         <a href="{% url 'aprovados' %}">
            <li class="list-group-item d-flex justify-content-start align-items-center">
                &nbsp;Aprovados
            </li>
        </a>

        <a href="{% url 'inscritos_por_processo' %}">
            <li class="list-group-item d-flex justify-content-start align-items-center">
                &nbsp;Aprovados/2021.1 <span class="badge badge-pill badge-warning">Novo</span>
            </li>
        </a>
        {% endif %}



     {% if request.user.is_superuser %}
        <a href="{% url 'correcao' %}">
            <li class="list-group-item d-flex justify-content-start align-items-center">
                &nbsp;Correção de redação
            </li>
        </a>
        {% endif %}

        {% if request.user.is_superuser %}
        <a href="{% url 'redacao_pendente' %}">
            <li class="list-group-item d-flex justify-content-start align-items-center">
                &nbsp;Não fizeram redação
            </li>
        </a>
        {% endif %}
        {% if request.user.is_superuser %}
        <a href="{% url 'inscricao_enem' %}">
            <li class="list-group-item d-flex justify-content-start align-items-center">
                &nbsp;Inscrições via Enem
            </li>
        </a>
        {% endif %}
        {% if request.user.is_superuser %}

            <a href="{% url 'portador_diploma' %}">
                <li class="list-group-item d-flex justify-content-start align-items-center">
                    &nbsp;Inscrições portador de diploma
                </li>
            </a>
        {% endif %}

         <a href="{% url 'acompanhamento_ti' %}">
            <li class="list-group-item d-flex justify-content-start align-items-center">
                &nbsp;Acompanhar inscrições
            </li>
        </a>




            <li class="list-group-item d-flex justify-content-start align-items-center">


                 <a href="{% url 'sair' %}" type="button" class="btn btn-danger" style="color: #fff !important">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-door-open" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M1 15.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM11.5 2H11V1h.5A1.5 1.5 0 0 1 13 2.5V15h-1V2.5a.5.5 0 0 0-.5-.5z"/>
                    <path fill-rule="evenodd"
                          d="M10.828.122A.5.5 0 0 1 11 .5V15h-1V1.077l-6 .857V15H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117z"/>
                    <path d="M8 9c0 .552.224 1 .5 1s.5-.448.5-1-.224-1-.5-1-.5.448-.5 1z"/>
                </svg>
                    Sair do sistema
                </a>
            </li>
        </a>


    </ul>

</div>