{% extends 'redacao/base.html' %}

{% load static %}


{% block content %}

{% include "redacao/menu.html" %}


<div class="conteudo">

    {% if redacao %}

    <div class="correcao d-flex justify-content-between align-items-center">
        <h4>Correção: Redação <strong>#{{redacao.id}}</strong></h4>
        <button type="button"
                class="btn btn-primary btn-uverse-verde-bg d-flex justify-content-between align-items-center"
                data-toggle="modal" data-target="#exampleModal">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-card-checklist" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                <path fill-rule="evenodd"
                      d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
            </svg>
            &nbsp;LANÇAR NOTAS

        </button>
    </div>
    {% endif %}

    <div class="row" style="margin-top: 50px;">
        <div class="col-12 redacao enter-left-bounce">

            <h1 class="titulo" style="color: #666666">Ingressos Através do Enem</h1>
            <div class="row">
                {% if candidatos %}
                {% for i in candidatos %}
                <div class="col-sm-4">
                    <div class="card" style="margin-bottom: 5px;">
                        <div class="card-body">
                            <h4 class="card-title titulo titulo-uverse-cinza">
                                {{i.pessoa.nome}}</h4>
                            <h6 style="color: #666666">
                                Nota: <strong> {{i.nota_enem}}</strong>
                            </h6>
                            <h6 style="color: #666666">
                                Ano: <strong> {{i.ano_enem}}</strong>
                            </h6>
                            <a href="/media/{{i.comprovante_enem}}" target="_blank">Comprovante do enem</a>

                            {% if i.comprovante_enem %}
                            <p class="card-text" style="color: #666666">
                            <div class="alert alert-success" role="alert">
                                <a href="/media/{{i.comprovante_enem}}" target="_blank">Comprovante do enem</a>
                            </div>
                            </p>
                            {% else %}
                            <p class="card-text">
                            <div class="alert alert-danger" role="alert">
                                Não anexou comprovante de inscrição
                            </div>
                            <hr>
                            <h6 style="color: #666666">Telefone: {{i.pessoa.fone}}</h6>
                            </p>
                            {% endif %}
                            <a href="#" class="btn btn-uverse-verde-bg">Aprovar</a>
                            <span style="font-size: 10px; color: red">Em desenvolvimento</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <h2>Não existe novas candidatos cadastrados com nota do Enem</h2>
                {% endif %}
            </div>

        </div>

    </div>

</div>


{% endblock %}